<p>Screw you man!!!  </p>
<div class="container" data-ng-init="names=['Jeff', 'Tom', 'Alex']">
    Email: <input type="text" data-ng-model="newUser.email" /> 
    <br/>
    Password: <input type="text" data-ng-model="newUser.password"> 
    <br/>
    <button data-ng-click="addUser()">Login</button>
    <br/>
    <ul>
        <li ng-repeat="name in names">{{ name }}</li>
    </ul>
    <br/>
    <ul>
    	<li ng-repeat="user in users">{{ user.email + ' ' + user.password }}</li>
    </ul>
    <br/>
    <br/>
    <br/>
    <br/>
<div data-ng-controller="Hello">
    <br/>
    <br/>
    greeting: {{ greeting }}
    <br/>

    The response is: {{ greeting.href }}
    <br/>
    The response is: {{ greeting.name }}

    <br/>
    Errors: {{ myerrors }}
    <br/>
    <br/>
</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>





    <h3>Please Login</h3>
    <div>
        <div class="alert alert-error" ng-show="loginError">Username and/or Password Incorrect</div>
        <form ng-submit="login()">
            <div><input type='text' ng-model='user.username' placeholder='username'/></div>
            <div><input type='password' ng-model='user.password' placeholder='password'/></div>
            <div><input class="btn" type="submit" value="Login"></div>
        </form>
    </div>
</div>
